.header-nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}
.header-ul{
    display: flex;
    gap: 20px;
    font-size: 24px;
    align-self: center;
}
.header-li{
    list-style: none;
}
.header-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.header-logo{
    align-self: center;
}
.logo{
    font-size: 30px;
}